.icons-container{
    background-color: #DDDDDD;
}

.icon-type{
    flex-basis: calc(100% / 5);
    margin-top: 50px;
    margin-bottom: 50px;
}

.inner-icon{
    padding: 35px;
    height: 150px;
    border-radius: 5px;
    background-color: #F5F5F5F5;
}

.inner-icon i{
    width: 100%;
    font-size: 50px;    
    text-align: center;
}

.icon-text{
    font-size: 20px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}


.icon.vegetable{
    color:#FFA500
}

.icon.animal{
    color:blue
}


.icon.user{
    color:purple
}


.selector{
    display: flex;
    background-color: #29B1DD;
    height: 120px;
    width: 100%;
}

#list{
    width: 100px;
    height: 60px;
    text-align: center;
}